.custom-gradient {
  background: linear-gradient(
    to right,
    #0e0e0e,
    #392e1e 20%,
    #3a2c15 40%,
    #3d2c14 60%,
    #3e2a0c 80%
  );
}

.filter.blur-sm {
  filter: blur(6px);
}

.frame-container {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.frame {
  min-width: 80px; /* Adjust as necessary */
  transition: opacity 0.3s ease;
}

.active-frame {
  opacity: 1;
  filter: none;
}

.inactive-frame {
  opacity: 0.5;
  filter: blur(2px);
}
